body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-christ {
  background: #183276;
  color: #fff;
}
.christ-blue {
  color: #183276;
}





.nk-blue {
  color: #183276;
}
.nk-blue-bg {
  background-color: #183276;
}





.nk-black {
  color: black;
}
.nk-black-bg {
  background-color: black;
}





.nk-red {
  color: #ea3230;
}
.nk-red-bg {
  background-color: #ea3230;
}





.nk-green {
  color: #2c9355;
}
.nk-green-bg {
  background-color: #2c9355;
}





.nk-yello {
  color: #ebd543;
}
.nk-yello-bg {
  background-color: #ebd543;
}




.nk-bg-1{
  background-color: #183276;
}
.nk-bg-2{
  background-color: #256068;
}
.nk-bg-3{
  background-color: #402EF6;
}
.nk-bg-4{
  background-color: #000000;
}
.nk-bg-5{
  background-color: #183276;
}
.nk-bg-6{
  background-color: #1140DC;
}
.nk-bg-7{
  background-color: #1C7464;
}
.nk-bg-8{
  background-color: #C85D20;
}
.nk-bg-9{
  background-color: #2C9355;
}
.nk-bg-10{
  background-color: #1D87C2;
}
.nk-bg-11{
  background-color: #5620C8;
}
